.esc-modal {
    position:absolute;
    top:0px;
    left:0px;
    background-color: #00000088;
    display:none;
    z-index: 1000000000;
    
  }
  
  .esc-modal.active {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .esc-modal .close {
    position: absolute;
    top:5px;
    right:10px;
  }
  .esc-modal .modal-content {
    margin-top:24px;
    width: fit-content;
    min-width:25%;
    max-width: 75%;
    min-height:33%;
    padding:24px;
    background-color:#ffff;
    position: relative;
    padding:0px 40px;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .header .header-img {
    height:64px;
  }