[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ShopifyAPI = {file = "git+https://github.com/Shopify/shopify_python_api.git"}
mysqlclient = "*"
peewee = ">=3.17.9"
tortoise-orm="*"
whitenoise="*"
markdown="*"
python-slugify=">=8.0.0."
requests="*"
jmespath="*"
dateparser="*"
mysql-connector-python="*"
us="*"
random-password-generator="*"
chardet="*"
charset_normalizer="*"
toml="*"
dict-recursive-update="*"
phonenumbers="*"
pycountry="*"
Unidecode="*"
gunicorn = "*"
beautifulsoup4="*"
psycopg-pool="*"
psutil="*"
django="*"
djangorestframework="*"
django-filter="*"
django-shopify-webhook = ">=0.6.0"
django-anymail="*"