.esc-modal {
    position:absolute;
    top:0px;
    left:0px;
    background-color: #00000088;
    display:none;
    z-index: 1000000000;
    
  }
  
  .esc-modal.active {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .esc-modal .close {
    position: absolute;
    top:5px;
    right:10px;
  }
  .esc-modal .modal-content {
    margin-top:24px;
    width: fit-content;
    min-width:25%;
    max-width: 75%;
    min-height:33%;
    padding:24px;
    background-color:#ffff;
    position: relative;
    padding:0px 40px;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  @font-face {
    font-family: 'Super Grotesk';
    font-style: normal;
    font-weight: 100;
    font-display: auto;
    src: url('/static/css/SUPERGROTESKWEB-W03-REGULAR.woff') format('woff');
}

.header {
    background-color: #FAEBA7;
    padding: 12px;
}
.header .header-img img {
    height:64px;
}
.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Super Grotesk';
    height: max-content;
    border:1px solid #000;
    height: 100%;
}
.main-content {
    margin: auto;
    padding:16px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width:90%;
    height: 100%;
}
.error_message {
    color: #f00;
    font-weight: bold;
    font-size: medium;
}
input,button,select {
  border-radius:0px;
  padding: 8px 4px;
  font-size:12px!important;
  border-color: #888!important;
  border: 1px solid #888;
  width:100%;
  margin: 4px;
}
button {
  background-color: #478AAD;
  color: #fff;
  border: 0px;
  cursor: pointer;
}
button:disabled {
  background-color: #888;
  color:#bbb;
}
.request-response {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  margin: 16px;
  padding: 8px;
}
.request-response.error {
  color:#900;
  font-weight: 800;
}
.request-response:empty {
  display:none;
}
button.link {
  border: none;
  font-weight: 300;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
  color: #000;
}
form.jsform {
  min-width:640px;
  width:85%;
}
.formfooter .buttons {
  display: flex;
  justify-content: space-around;
  gap:16px;
}
.formrow {
  display: flex;
  gap: 16px;
}
.formrow .formField {
  display:flex;
  flex-direction: column;
  gap:8px;
  width:100%;
}
.sidebar {
  background-color: #ffffdd;
  min-width: 200px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow:1;
  height:100%;
  
}
.sidebar:empty {
  display: none;
}
ul.sidebar {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height:100%;
  margin:0px;

}
ul.sidebar li {
  background-color:#00000011;
  padding: 8px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
ul.sidebar li a {
  text-decoration: none;
  color: #000;
}
ul.sidebar li.header {
  background-color: #478AAD;
  color: #ffffff;
  margin-bottom: 8px;
}
.hidden {
  display: none;
}
.labelledInput {
  display:flex;
  gap:2px;
  align-items:center
}
.peeker {
  cursor: pointer;
}
button.delete-button {
  background-color: #800;
}

.dashboard {
  
  /*display: grid;*/
  /*grid-template-columns: 50% 50%;*/
  display: flex;
  
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
}
.dashboardCell {
  width:85%;

  min-height: 120px;
  border-radius: 5px;
  background-color: #ffffdd;
  padding: 2px 8px 8px 2px;
  display: flex;
  width:45%;
  gap:8px;
  flex-direction: column;
}
.dashboardCell .label {
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding: 4px;
  border-bottom: 1px solid #0005;

}