<html>
    <head>
        <title>YWM Utilities: {% block title %} Dashboard{% endblock %} </title>
        <link rel="stylesheet" href="/static/css/site.css">
        <script src="https://unpkg.com/toaster-ui@1.1.5/dist/main.js"></script>
       
        <script src="/static/js/site.js"></script>
    </head>
    <body>
        {% include "csrf_token.html" %}
        <div class="header">
            <div class="header-img"><img src="/static/img/ywm_rectangle_brown_logo_600px.png"></div>
        </div>
    <div class="body">
        
        <div class="sidebar">
            {% block sidebar %}
            {% endblock %}
            {% if request.session.userDetails %}
                {% include "sitenav.html" %}
            {% endif %}    
        </div>
        <div class="main-content">
            {% block content %}
            content
            {% endblock %}
        </div>
    </div>
     <script>
            window.toastManager = new ToasterUi()
        </script>
    </body>
</html>