{% extends "base.html" %}
{% block content%}
<style type="text/css">
    button.requires-id {
        display:none;
    }
    form:has(input[name="shopId"]) button.requires-id {
        display:block;
    }
    form .create-only {
        display:none;
    }
    form:has(.serialize) .create-only {
        display:block;
    }
    li[data-processor-id] {
        font-weight: bold;
        margin-left: 16px!important;
        padding:16px;
    }
    
</style>
<script src="/static/js/processors.js"></script>
<div class="content-with-sidebar">
    <div class="listing">
        <div class="title"><h3>Processors</h3></div>
        <ul class="sidebar-options">
        </ul>
        <div class="buttons">
            <button type="button" class="button" id="newProcessor">New File Processor</button>
        </div>
    </div>
    <div class="jsapp"</div>
</div>

</div>
<script>
    document.addEventListener("DOMContentLoaded",event=>{        
    {% if request.GET.processorId %}
        window.rulesForm = new FileProcessorCrud({objectId:"{{request.GET.processorId}}"})
    {% elif  request.GET.action == "new" %}
        window.rulesForm = new FileProcessorCrud({})
    {% endif %}
    window.listings = new FileProcessorListing()
    document.querySelector("#newProcessor").addEventListener("click",event=>{
        window.rulesForm = new FileProcessorCrud({})
    })
    // const 
});
    
</script>
{% endblock %}
