{% extends "base.html" %}
{% block content%}
<style type="text/css">
    button.requires-id {
        display:none;
    }
    form:has(input[name="shopId"]) button.requires-id {
        display:block;
    }
    button[data-action-type="deploy"] {
        display:none;
    }
    .listing:has(input:checked) button[data-action-type="deploy"] {
        display:block;
    }
</style>
<script src="/static/js/files.js"></script>
{% block headerContent %}
{% endblock %}
<div class="content-with-sidebar">
    <div class="listing">
            {% if themeList|length > 1 %}
                <select name="themes">
                    {% for theme in themeList %}
                        <option value="{{ theme.id}}" {% if theme.id == collectionId%}selected{% endif%}>{{ theme.name }}</option>
                    {% endfor%}
                </select>
            {% else %}
                <input type="hidden" name="globalThemeList" value="{{ collectionId }}">
            {% endif %}
        <div class="instructions">
            {% block instructions %}
            Click on filename to edit or mark them for deployment
            {% endblock%}
        </div>
        <div class="sidebarHolder">
            
        </div>
        
        <div class="buttons">
            <button data-action-type="deploy">Deploy Files</button>
        </div>
        <div class="buttons">
            <button data-action-type="create">Create</button>
            <button data-action-type="upload">Upload</button>
        </div>
    </div>
    <div class="centered">
        <div class="jsapp"></div>
    </div>
</div>

</div>
<script>
    {% block scriptContent %}
    document.querySelector('[data-action-type="deploy"]').addEventListener("click",event=>{
        console.error(FileFolders.collectFiles())
        document.querySelector("#fileFolder").submit()
    })
    document.querySelector('[data-action-type="create"]').addEventListener("click",event=>{
        history.replaceState(null,"","/files")
        window.fileEditor = new ThemeFileEditor({collectionId:window.collectionId})
        //document.querySelector("#fileFolder").submit()
    })

    window.collectionId = "{{ collectionId }}"
    {% if request.GET.fileId %}
        window.folderHandler = new FileFolders({
            fileId:"{{ request.GET.fileId }}",
            collectionId:window.collectionId,
            explicitFiles:[],
        })
    {% else %}
        window.folderHandler = new FileFolders({
            fileId:"{{ request.GET.fileId }}",
            collectionId:window.collectionId,
            explicitFiles:[]
        })
    {% endif %}
    {% endblock %}
</script>
{% endblock %}
