{% extends "base.html" %}
{% block content%}
<style type="text/css">
    button.requires-id {
        display:none;
    }
    form:has(input[name="shopId"]) button.requires-id {
        display:block;
    }
    button[data-action-type="deploy"] {
        display:none;
    }
    .listing:has(input:checked) button[data-action-type="deploy"] {
        display:block;
    }
    .files-to-deploy {
        display:flex;
        gap: 16px;

    }
    .deploy-file {
        background-color:#fcffdd;
        padding: 12px;
        border-radius: 10px;
    }
    form:has(.empty) .requires-theme,form:has(.unselected) .requires-theme {
            display: none;
    }
    .applyTransforms {
       display:grid;
       grid-template-columns: repeat(2,1fr);
       justify-content: center;
    }
    
</style>
<script src="/static/js/files.js"></script>
<script src="/static/js/deploy.js"></script>
<div class="content-with-sidebar">
    <div class="listing">
            {% if themeList|length > 1 %}
                <select name="themes">
                    {% for theme in themeList %}
                        <option value="{{ theme.id}}" {% if theme.id == collectionId%}selected{% endif%}>{{ theme.name }}</option>
                    {% endfor%}
                </select>
            {% else %}
                <input type="hidden" name="globalThemeList" value="{{ collectionId }}">
            {% endif %}
            <div class="instructions">Click on filename to mark for deployment or click "toggle common" to remove those files from deployment</div>
            <div class="sidebarHolder">
            
            </div>
            <button class="button" id="uncheckAll">Toggle Common</button>
    </div>
    <div class="centered">
        <div class="jsapp"></div>
    </div>
</div>

</div>
<script>
    window.collectionId = "{{ collectionId }}"
    /*
    const folders = new FileFolders({
        fileId:"{{ request.GET.fileId }}",
        collectionId:window.collectionId,
        nolink:true,
    })
    */

    document.querySelector("#uncheckAll").addEventListener("click",event=>{
        let folderForm = document.querySelector("#fileFolder");
        if (folderForm) {
            folderForm.dispatchEvent(new CustomEvent(
                "ywm:folders:uncheck",
                {detail:null,bubbles:true}
            ))
            window.deployer.render()
        }
    })
    
    window.deployer = new ThemeFilesDeploy(
        {
            selectedFiles:"{{ files | escapejs }}",
            selectedFile:"{{ request.POST.fileId }}",
            explicitFiles:"{{ explicitFiles | escapejs }}",
            shops:'{{ shops | escapejs }}',
            collectionId:window.collectionId,
            selectedShop:"{{ shopId }}"
        }
    )
    document.addEventListener("ywm:file:selected",event=>{
        file = event.detail;
        document.querySelector("#deployForm").dispatchEvent(
            new CustomEvent(
                "ywm:deploy:render",
                {bubbles:true}
            )
        )
    })
    document.addEventListener("ywm:folders:selectionChanged",event=>{
        window.deployer.render()
    })
    
</script>
<!-- deqwdewq -->
{% endblock %}